body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*Прячем заголовки*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Задаем параметры для контейнера*/

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

/*Задаем общие параметры для кнопок*/

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #fb565a;
	border: none;
}

.button:hover,
.button:focus {
 	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

/*Стилизуем Шапку*/

.main-header {
	background-color: #eeeeee;
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.main-header-logo {
	margin-right: 200px;
}

.main-navigation {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.user-navigation {
	display: block;
	font-size: 16px;
	/*line-height: 30px;*/
	text-transform: uppercase;
	list-style: none;
}
/*Не пойму в чем дело. У меня Корзина в браузере
не размещается по центру (по высоте). И текст получается
выше, чем у основной навигации*/

.site-navigation {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
	font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation li {
	margin-left: 48px;
}

.site-navigation li:first-child {
	margin-left: 0;
}

/*Стилизуем раздел Преимущества*/

.slider {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
  
	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
  
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
  
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
  
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
  
	width: 18px;
	height: 18px;
  
	background: #ffffff;
  
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
  
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
  
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.button {
	display: block;
	width: 240px;
	padding: 13px 0;
  
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
  
	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Стилизуем раздел Услуги*/

.services {
	padding-top: 80px;
	padding-bottom: 80px;
}

.services-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.service-item {
	width: 300px;
	margin-right: 100px;
}

.service-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

/*Стилизуем раздел О нас*/

.about {
	padding-bottom: 80px;
}

.about-container {
	display: flex;
	justify-content: space-between;
}

.about-left {
	width: 660px;
	padding-top: 80px;
}

.about-right {
	width: 360px;
	padding-top: 40px;
}

.about-left b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-left h3 {
	font-weight: 700;
	text-transform: uppercase;
}

.about-works {
	list-style: none;
}

.about-progress caption {
	font-weight: 700;
	text-transform: uppercase;
}

.about-progress-item:first-child td {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
}

.about-progress-item:last-child td {
	font-size: 16px;
	line-height: 18px;
}

/*Стилизуем раздел Наши работы*/

.works-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-top: 45px;
	padding-bottom: 45px;
	margin: 0;
	margin-bottom: 80px;
	list-style: none;
}

.works-item {
	width: 260px;
	margin: 0;
	padding: 0;
}

/*Как разместить картинки посередине контейнера?*/

/*Стилизуем Подвал сайта*/

.footer-contacts {
	position: relative;
	overflow: hidden;
	margin-bottom: 70px;
}

.footer-contacts img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	width: 100%;
}

.footer-contacts-cards {
	width: 320px;
	height: 310px;
	background-color: #ffffff;
	margin-top: 55px;
	margin-bottom: 55px;
}

.footer-contacts-cards b {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.footer-contacts-cards p {
	font-size: 16px;
	line-height: 18px;
}

.footer-social {
	display: flex;
	box-sizing: border-box;
}

.footer-social ul {
	list-style: none;
}

.social-links {
	width: 260px;
	padding: 0;
	margin: 0;
	margin-right: 140px;
	display: flex;
	justify-content: space-between;
}

.social-link {
	display: block;
	font-size: 0;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	background-position: center;
}

.social-link:hover,
.social-link:focus {
	background-color: #e74246;
}

.social-link-vk {
	background-image: url("../img/vk-icon.svg");
}

.social-link-facebook {
	background-image: url("../img/fb-icon.svg");
}

.social-link-inst {
	background-image: url("../img/insta-icon.svg");
}

.container-sale b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.container-sale p {
	font-size: 16px;
	line-height: 22px;
}

/*Форма Напишите нам*/

.modal-write h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.modal-write label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal-write placeholder {
	font-size: 16px;
	line-height: 18px;
	color: (161, 161, 161, 0.5);
}

/*Стилизация страницы КАТАЛОГА*/

.page-title {
	display: block;
	font-size: 55px;
	line-height: 55px;
	padding-top: 80px;
	padding-bottom: 120px;
	margin: 0 auto;
	background-color: #eeeeee;
	margin-bottom: 60px;
}

/*Каталог и фильтры*/

.wrapper-catalog {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.wrapper-catalog-left {
	width: 280px;
	padding: 0;
	margin: 0;
}

.wrapper-catalog-right {
	width: 760px;
	padding: 0;
	margin: 0;
}

/*Стилизация фильтра стоимости*/

.filter-item {
	margin: 0;
	padding: 0;
  
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
  
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
  
	background-color: #f1f1f1;
  
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
  
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 50px;
}

.range-controls .toggle-max {
	left: 110px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
  
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
  
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
  
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

/*Стилизация списка шаблонов*/

.catalog-list {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: -35px;
	margin-left: -40px;
	list-style: none;
}

.catalog-list-item {
	width: 360px;
	height: 620px;
	margin-top: 35px;
	margin-left: 40px;
}

/* Стилизация кнопок пагинации */

.pagination-list {
	height: 50px;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	list-style: none;
}

.pagination-item a {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background-color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-radius: 3px;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.pagination-item-next a {
	width: 260px;
}
